.st-block__ui,
.st-block__ui-delete-controls,
.st-block__ui-options-controls {
  position: absolute;
  bottom: 0;  right: 0;
  opacity: 0;
}

.st-block__control-ui {
  position: absolute;
  bottom: 0; left: 0;
  opacity: 0;
}

.st-block__inner:hover .st-block__ui,
.st-block__inner:hover .st-block__control-ui {
  opacity: 1;
}

.st-block-ui-btn {
  display: block;
  float: left;
  width: 3em;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1.4em;
  color: $accent-color;
  background: #fff;
  text-align: center;
  border: $default-border;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 0;
  cursor: pointer;

  &:hover,
  &.active {
    color: #fff;
    background: $accent-color;
  }
}

.st-block-control-ui-btn {
  @extend .st-block-ui-btn;
  width: 2em;
  font-size: 1.5em;
  line-height: 1.25em;
  height: 1.25em;
  border: $default-border;
  border-left: 0;
  border-bottom: 0;
}

.st-block--with-errors .st-block-ui-btn,
.st-block--delete-active .st-block-ui-btn,
.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn {
  color: $error-color;
  border-color: $error-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: $error-color;
  }
}

.st-block--options-active .st-block-ui-btn,
.st-block--options-active .st-block-control-ui-btn {
  color: $accent-color;
  border-color: $accent-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: $accent-color;
  }
}

.st-block--with-errors,
.st-block--delete-active, .st-block--options-active {
  .st-block__ui-delete-controls, .st-block__ui-options-controls {
    opacity: 1;
    z-index: 2;
  }
}

.st-block__delete-label {
  display: block;
  border: $border-size $border-style $error-color;
  border-bottom: none;
  border-right: none;
  text-align: center;
  background: #fff;
  color: $error-color;
  padding: 0.4em 0;
}

.st-block__options-label {
  display: block;
  border: $border-size $border-style $accent-color;
  border-bottom: none;
  border-right: none;
  text-align: center;
  background: #fff;
  color: $accent-color;
  padding: 0.4em 0;
}